.questionaire {

  // max-width: 986px;
  header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
    h1 {
      color: #23bf91;
      font: 26px "Open Sans";
      margin-bottom: 40px;
    }
    p {
      max-width: 500px;
      margin: 0 auto;
      font: 13px "Open Sans";
    }
  }
  ul.questions {
    text-align: center;
    display: flex;
    flex-direction: column;
    li.question {
      display: inline-block;
      h2 {
        color: #23bf91;
        font: 22px "Open Sans";
        margin-bottom: 20px;
      }
      ul.choices {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
        li {
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          border: 2px solid #23bf91;
          border-radius: 3px;
          color: #23bf91;
          cursor: pointer;
          margin-right: 40px;
          flex: 0 0 150px;
          height: 150px;
          font: 16px "Open Sans";
          color: #23bf91;
          display: flex;
          justify-content: center;
          flex-direction: column;
          text-align: center;
          &.active {
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            background-color: #23bf91;
            color: #fff;
          }
          input {
            display: none;
          }
        }
      }
    }
  }
}
