<section class="organisations">
    <ul class="cards">
        <li ng-class="{'selected': organisation.selected === true}" ng-repeat="organisation in organisations" ng-click="setActice($index)" index="{{$index}}" card>
            <figure>
                <img ng-src="assets/images/icons/{{organisation.logo}}" alt="">
            </figure>
            <p class="description">{{organisation.card_description}}</p>
        </li>
    </ul>
    <section class="selected-wrapper">
        <div  class="selected">
            <header>
                <figure>
                    <img ng-src="assets/images/icons/{{ activeOrganisation.header_image }}" alt="">
                </figure>
            </header>
            <h3>{{ activeOrganisation.display_name }}</h3>
            <p>{{ activeOrganisation.about_description }}</p>
            <footer>
                <p ng-show="!activeOrganisation.selected" class="add" ng-click="add()">Add</p>
                <p ng-show="activeOrganisation.selected" class="add" ng-click="remove()">Remove</p>
            </footer>
        </div>
    </section>
</section>
