<section class="home">
  <img class="group-banner" ng-src="assets/images/group.jpg" alt="" src="assets/images/group.jpg" style="
      width:  100%;">

  <h1 style="font-size: 30px; text-align: center; margin-top: 30px; color: #23bf91;">MyGiving Team is grateful for everybody that made this weekend possible!</h1>
  <h1 style="font-size: 20px; text-align: center; margin-top: 10px; color: #23bf91;">Bo Skov Selbac - Developer</h1>
  <h1 style="font-size: 20px; text-align: center; margin-top: 10px; color: #23bf91;">Fredrik Olovsson - Team Leader</h1>
  <h1 style="font-size: 20px; text-align: center; margin-top: 10px; color: #23bf91;">Madalina Bors - Marketer</h1>
  <h1 style="font-size: 20px; text-align: center; margin-top: 10px; color: #23bf91;">Melinda Dinh - Designer</h1>
  <h1 style="font-size: 20px; text-align: center; margin-top: 10px; color: #23bf91;">Mazvydas Bartasius - Sales</h1>
  <h1 style="font-size: 20px; text-align: center; margin-top: 10px; color: #23bf91;">Simas Mickevičius - Finance</h1>
</section>
