html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
body {
  height: 100%; }

a {
  text-decoration: none; }

section.main {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0 auto; }
  section.main nav.main {
    background-color: #192923;
    flex: 0 0 192px; }
    section.main nav.main figure {
      text-align: center;
      margin: 30px 0 80px; }
    section.main nav.main ul li {
      color: white;
      text-decoration: none;
      text-align: center;
      margin-bottom: 20px; }
      section.main nav.main ul li a {
        color: #fff;
        font: 15px "Open Sans"; }
        section.main nav.main ul li a:hover {
          color: #23bf91; }
  section.main article.main {
    background-color: #ebebeb;
    width: 100%;
    height: 100%; }

.organisations {
  display: flex; }
  .organisations .cards {
    flex: 1; }
  .organisations .selected-wrapper {
    border-left: 1px solid #23bf91;
    flex: 1; }
    .organisations .selected-wrapper .selected {
      background-color: #fff;
      position: fixed;
      height: 100%;
      width: 45%; }
      .organisations .selected-wrapper .selected footer .add {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        background-color: #fff;
        border: 1px solid #23bf91;
        border-radius: 3px;
        margin-bottom: 20px;
        margin-left: 30px;
        cursor: pointer;
        color: #23bf91;
        text-align: center;
        font: 20px "Sans Serif";
        font-weight: 100;
        position: absolute;
        padding: 10px 0;
        width: 92%;
        bottom: 10px; }
        .organisations .selected-wrapper .selected footer .add:hover {
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          background-color: #23bf91;
          color: #fff; }

.questionaire header {
  text-align: center;
  margin-bottom: 20px; }
  .questionaire header h1 {
    color: #23bf91;
    font: 26px "Open Sans";
    margin-bottom: 40px; }
  .questionaire header p {
    max-width: 500px;
    margin: 0 auto;
    font: 13px "Open Sans"; }

.questionaire ul.questions {
  text-align: center;
  display: flex;
  flex-direction: column; }
  .questionaire ul.questions li.question {
    display: inline-block; }
    .questionaire ul.questions li.question h2 {
      color: #23bf91;
      font: 22px "Open Sans";
      margin-bottom: 20px; }
    .questionaire ul.questions li.question ul.choices {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px; }
      .questionaire ul.questions li.question ul.choices li {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        border: 2px solid #23bf91;
        border-radius: 3px;
        color: #23bf91;
        cursor: pointer;
        margin-right: 40px;
        flex: 0 0 150px;
        height: 150px;
        font: 16px "Open Sans";
        color: #23bf91;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center; }
        .questionaire ul.questions li.question ul.choices li.active {
          -webkit-transition: all 0.5s;
          transition: all 0.5s;
          background-color: #23bf91;
          color: #fff; }
        .questionaire ul.questions li.question ul.choices li input {
          display: none; }

.cards {
  padding: 0;
  margin: 0;
  list-style: none;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 36px;
  margin-right: -56px; }
  .cards li {
    -webkit-transition: all 0.5s;
    transition: all 0.5;
    background-color: #fff;
    height: 250px;
    margin: 10px 20px 10px 0;
    position: relative;
    overflow: hidden;
    width: 310px; }
    .cards li figure {
      text-align: center; }
    .cards li p.description {
      color: #000;
      font: 12px "Open Sans";
      text-align: center;
      padding: 10px; }
    .cards li.selected:before {
      content: "Selected";
      text-align: center;
      position: absolute;
      height: 35px;
      background-color: #23bf91;
      color: #fff;
      width: 150px;
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
      right: -25px;
      top: 13px;
      line-height: 30px;
      font-family: "Open Sans";
      line-height: 35px;
      text-indent: 10px;
      font-size: 12px;
      z-index: 10; }
    .cards li.recommended:after {
      content: "Recommended";
      text-align: center;
      position: absolute;
      height: 35px;
      background-color: #192923;
      color: #fff;
      width: 150px;
      -webkit-transform: rotate(36deg);
      transform: rotate(36deg);
      right: -25px;
      top: 13px;
      line-height: 30px;
      font-family: "Open Sans";
      line-height: 35px;
      text-indent: 10px;
      font-size: 12px; }
    .cards li:hover, .cards li.active {
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      box-shadow: 1px 1px 6px 2px #808080; }
